<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/style.css"
          th:href="${'css/style.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <title>Index</title>
</head>

<body>
    <div class="page">

        <h1>Real or Fake?</h1>

        <form method="post">
            
            <div th:each="onePicture, iterator : ${pictures}" class="item">
                <img th:src="'nature' + ${iterator.index} + '.jpg'"
                     src="../static/images/photos/nature1-real.jpg"/>
                <div class="radiobuttons">
                    <label>

                        <input type="radio"
                               name="answers[0]"
                               th:name="'answers[' + ${iterator.index} + ']'"
                               value = "REAL"
                               th:value="${T(cz.java_webapp.realfakequiz.Picture.TypeOfPicture).REAL_PICTURE}"/>REAL

                    </label>
                    <label>
                        <input type="radio"
                               name="answers[0]"
                               th:name="'answers[' + ${iterator.index} + ']'"
                               value = "FAKE"                                        
                               th:value="${T(cz.java_webapp.realfakequiz.Picture.TypeOfPicture).FAKE_PICTURE}" />FAKE

                    </label>
                </div>
            </div>
            <input type="submit" value="Result"/>
        </form>

    </div>

</body>
</html>
